{% ckan_extends %}

{% block scripts %}
  {{ super() }}
  {% if h.ckan_version().split('.')[1] | int >= 9 %}
  {% else %}
    {% resource 'datagovtheme/js' %}
  {% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% if h.ckan_version().split('.')[1] | int >= 9 %}
  {% else %}
    {% if h.is_bootstrap2() %}
    {% resource 'datagovtheme/styles/datagovtheme_bootstrap2.css' %}
    {% else %}
    {% resource 'datagovtheme/styles/datagovtheme.css' %}
    {% endif %}
  {% endif %}
{% endblock %}
