{% ckan_extends %}

{% block flash %}
  {% set flash_messages = h.flash.pop_messages() | list %}
  {% if flash_messages %}
    <div class="flash-messages">
      {% for message in flash_messages %}
        <div class="alert fade in {{ message.category }}">
          {{ h.literal(message) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
{% block toolbar %}
    <div class="toolbar">
        {% block add_action_content  %}
        {{ super() }}



        <div class="module" style="margin:0px;">

            <div class="faded disclaimer" style="margin-bottom:10px;visibility: hidden;height:0px;">
                Federal datasets are subject to the U.S. Federal Government <a href="//www.data.gov/data-policy"><b>Data Policy</b></a>. Non-federal participants (e.g., universities, organizations, and tribal, state, and local governments) maintain their own data policies. Data policies influence the usefulness of the data. <a href="//www.data.gov/catalog-help"><b>Learn more</b></a> about how to search for data and use this catalog.
            </div>

            <form id="dataset-search" class="dataset-search clearfix" method="get" data-module="select-switch">
                {% set search_placeholder = 'Search collection...' if request.params.collection_package_id else 'Search datasets...' %}
        <span class="control-group search-giant">
          <label for="search-big" class="hide">{{ _('Search datasets') }}</label>
          <input id="search-big" type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ search_placeholder }}" onblur="if(value=='') value = 'Search datasets...'" onfocus="if(value=='Search datasets...') value = ''"/>
          <button type="submit" value="search">{{ _('Submit') }}</button>
        </span>
                {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
                {% if c.fields -%}
          <span>
            {{ form.hidden_from_list(fields=c.fields) }}
          </span>
                {%- endif %}
                <br clear="both" />
                <div id="dataset-search-ext">{% block dataset_search_ext %}{% endblock %}</div>
                <div class="results">

                    <div id="sort_option">

                    </div>
                    <div class="filter-list">
                        {% for field in c.fields_grouped %}
                        {% if field != 'collection_package_id' %}
                        <span class="facet">{{ c.facet_titles.get(field) }}:</span>
                        {% set search_facets_items = c.search_facets.get(field)['items'] %}
                        {% for value in c.fields_grouped[field] %}
                  <span class="filtered pill">
                    {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
                      {{ c.translated_fields[(field,value)] }}
                    {%- else -%}
                      {{ h.list_dict_filter(search_facets_items , 'name', 'display_name', value) }}
                    {%- endif %}
                    <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
                  </span>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% if request.params and c.page.item_count == 0 %}
                    {% trans %}
                    <p class="extra">Please try another search.</p>
                    {% endtrans %}
                    {% endif %}
                    {% if c.q != '' %}
                    <p class="extra"><b>You are searching in the list of datasets. Show results in <a href="//www.data.gov/search-results/?group=site&q={{c.q}}">entire Data.gov site</a>.</b></p>
                    {% endif %}
                </div>
            </form></div>
        <a class="show-filters btn">{{ _('Filter Results') }}</a>
        {% endblock %}
    </div>
{% endblock %}
