{% ckan_extends %} {% block maintag %}
<div role="main" class="controller-{{c.controller}} action-{{c.action}}">
    {% endblock %} {% block flash %} {% set flash_messages = h.get_flashed_messages() | list %} {% if flash_messages %}
    <div class="flash-messages">
        {% for category, message in h.get_flashed_messages(with_categories=true) %}
        <div class="alert alert-dismissible fade show {{ category }}">{{ h.literal(message) }}</div>
        {% endfor %}
    </div>
    {% endif %} {% endblock %} {% block footer %} {% include "footer.html" %} {% include "snippets/scripts.html" %} {%
    endblock %}
</div>
