{% ckan_extends %} {% block footer_content %}

<div class="fluid-row">
  <!-- <div class="{{ 'col-md-6' }} clearfix">
                <div class="footer-logo"> <a href="http://www.data.gov/" class="logo-brand">Data.Gov 2.0</a> </div>
                <ul class="nav" id="menu-footer2">
                </ul>
            </div> -->
  <nav role="navigation" class="{{ 'col-md-3' }}" id="menu-footer-parent">
    <ul class="nav" id="menu-footer">
      <li style="display: inline">
        <a style="display: inline" href="//www.doi.gov/data"
          >Open Data at DOI</a
        >
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//usinterior.ideascale.com"
          >Feedback</a
        >
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//data.doi.gov/about">About</a>
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//www.data.gov/open-gov/"
          >Open Government</a
        >
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//data.gov">data.gov</a>
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//www.data.gov/data-policy"
          >Data Policy</a
        >
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//www.data.gov/faq">FAQ</a>
      </li>
      <li style="display: inline">
        <a style="display: inline" href="//www.data.gov/privacy-policy"
          >Privacy Policy</a
        >
      </li>
      {% if c.userobj %}
      <li class="local-link" style="display:inline;"><a style="display:inline;" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">Logout</a></li>
      {% else %}
      <li style="display:inline;"><a style="display:inline;" href="{{ h.url_for(controller='user', action='login') }}" class="local-link"> {{ _('Login') }}</a></li>
      {% endif  %}
    </ul>
  </nav>
  <!-- <div class="{{ 'col-md-3' }} social-nav">
                <nav role="navigation">
                    <ul class="nav" id="menu-social_navigation">
                        <li><a href="https://twitter.com/usdatagov"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                        <li><a href="http://github.com/GSA/data.gov/"><i class="fa fa-github"></i><span>Github</span></a></li>
                    </ul>
                </nav>
         </div> -->
</div>

{# {% block footer_lang %} {% snippet "snippets/language_selector.html" %} {%
endblock %} #} {# {% if not g.debug %} {% snippet "snippets/webtrends.html" %}
{% endif %} #} {# {% snippet "snippets/federated_analytics.html" %} {% snippet
"snippets/google_analytics_additional.html" %} #} {% endblock %}
