.coverage
htmlcov
.idea
__pycache__
syntax: glob
*.pyc
*.egg-info
*.swo
*.swp
.DS_Store
.vscode/

# Cypress
e2e/cypress/videos/*
e2e/cypress/screenshots/*
e2e/cypress/results/output.xml
node_modules
package-lock.json