.coverage
htmlcov
.idea
__pycache__
syntax: glob
*.pyc
*.egg-info
*.swo
*.swp
.DS_Store
.vscode/

# Cypress
cypress/e2e/videos/*
cypress/e2e/screenshots/*
cypress/e2e/results/output.xml
node_modules
package-lock.json
