# ckanext-harvest
-e git+https://github.com/ckan/ckanext-harvest.git@master#egg=ckanext_harvest
-e git+https://github.com/gsa/ckanext-spatial.git@datagov#egg=ckanext-spatial

# ckanext-harvest dependencies
ckantoolkit>=0.0.7
pika>=1.1.0
pyOpenSSL==20.0.1
# redis==2.10.6 # included in ckan core
# requests>=2.11.1 # included in ckan core
