<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,,,"
  >
    <div class="grid-container-widescreen">
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <div class="usa-identifier__logo">
            <img
              class="usa-identifier__logo-img"
              alt="GSA logo"
              role="img"
              src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/gsa_starmark.png"
            />
          </div>
        </div>
        <div class="usa-identifier__identity" aria-label="Agency description">
          <p class="usa-identifier__identity-domain">data.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the GSA's
            <a
              href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services"
              class="usa-identifier__required-link usa-link"
              >Technology Transformation Services</a
            >
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="#svg-launch"></use>
              <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
                ></path>
              </symbol>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link"
            >About GSA</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/website-information/website-policies#accessibility"
            class="usa-identifier__required-link usa-link"
            >Accessibility support</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
            class="usa-identifier__required-link usa-link"
            >FOIA requests</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
            class="usa-identifier__required-link usa-link"
            >No FEAR Act data</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsaig.gov" class="usa-identifier__required-link usa-link"
            >Office of the Inspector General</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/reports/budget-performance"
            class="usa-identifier__required-link usa-link"
            >Performance reports</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/website-information/website-policies#privacy"
            class="usa-identifier__required-link usa-link"
            >Privacy policy</a
          >
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="#svg-launch"></use>
            <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              ></path>
            </symbol>
          </svg>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="#svg-launch"></use>
        <symbol viewBox="0 0 24 24" id="svg-launch" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
          ></path>
        </symbol>
      </svg>
    </div>
  </section>
</div>
