{% set url = h.url_for(controller='dataset_resource', action='read', id=pkg.name, resource_id=res.id) %}
{% set format = res.format.lower() or 'data' %}
{% set is_web_format = h.is_web_format(res) %}
{% set is_preview_format = h.is_preview_format(res) %}
{% set is_map_format = h.is_map_format(res) %}
{% set is_cartodb_format = h.is_cartodb_format(res) %}
{% set is_plotly_format = h.is_plotly_format(res) %}
{% set is_arcgis_format = h.is_arcgis_format(res) %}

{% set filesize = res.size %}
{% set tooltip = _("ZIP files may contain data and documentation in one or more formats. In Data.gov’s Geospatial catalog, most of the files are multi-part shapefiles.") if format == 'zip' %}
<li itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload" class="resource-item"{% if tooltip %} title="{{ tooltip }}"{% endif %}>
{% block resource_item_title %}
  {% if res.name == 'Comma Seperated Values File' %}
    <a itemprop="contentUrl" class="heading" href="{{ url }}" title="Comma Separated Values File">
    Comma Separated Values File<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
  {% else %}
    <a itemprop="contentUrl" class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
  {% endif %}
{% endblock %}

<p itemprop="description" class="description">
    {% if res.description %}
    {{ h.markdown_extract(res.description, extract_length=80) }}
    {% else %}
    &nbsp;
    {% endif %}
	{#
	{% if filesize != 0 and filesize != None and  not is_map_format and not is_web_format %}
	  &nbsp;( {{ filesize|float/1000 }} KB )
	{% endif %}
	#}
</p>

{% if res.archiver %}
  {% set archiver = res.archiver %}
  <div class="archiver {% if is_broken %}link-broken{% elif is_broken == None %}link-not-sure{% else %}link-not-broken{% endif %}" style='font-size:.8em; display:inline-block;'>
    {%- if archiver.is_broken == True -%}
      <span class="fa fa-exclamation-circle text-danger" ></span>
      {% trans %}<strong>Link is broken</strong>{% endtrans %}<br>
    {%- elif archiver.is_broken == None -%}
      {% trans %}<strong><i class="fa fa-question-circle" style="color:orange;"></i> Link check is not conclusive</strong>{% endtrans %}<br>
    {%- else-%}
      {% trans %}<strong><i class="fa fa-check-circle" style="color:green;"></i> Link is ok</strong>{% endtrans %}<br>
    {% endif %}
  </div>
{% endif %}

&nbsp; &nbsp;

{% if res.qa %}
  {% set qa = res.qa %}
  <div style="display:inline-block; font-size:.8em" class="qa openness-{{ openness_score }}">
    {% if qa.openness_score != None %}
      {% snippet "qa/stars.html", stars=qa.openness_score %} {% trans %}<strong style="position:relative; bottom:1px;">Openness score</strong>{% endtrans %}<br/>
    {% else %}
      {% trans %}No openness information yet.{% endtrans %}
    {% endif %}
  </div>
{% endif %}

{% block resource_item_explore %}
{% set resource_url = url if is_map_format or is_preview_format else res.url %}
<div class="btn-group">

{% if is_map_format %}
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %} style="border-radius:4px;"> <i class="fa fa-globe"></i> {{ _('View Map') }} </a>

{% elif is_web_format %}
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}><i class="fa fa-external-link-alt"></i>{{ _('Visit page') }} </a>

{% elif is_preview_format %}
	<button class="btn btn-primary btn-preview" data-toggle="dropdown" style="border-top-right-radius:0;border-bottom-right-radius:0">Open With
	</button>
	<button class="btn btn-primary btn-preview" data-toggle="dropdown" style="margin-left:0px;margin-right:10px;border-top-left-radius:0;border-bottom-left-radius:0"><span class="caret" style="margin-top:0px;"></span><span class="sr-only">Toggle dropdown</span>
	</button>
	<ul class="dropdown-menu ul-preview">
	  <li class="datagov_viewer"><a href="{{ resource_url }}"><i></i><span>Data.gov Preview</span></a></li>
	</ul>
	<a href="{{ res.url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %} style="border-radius:4px;"
	   data-format="{{ (res.format or 'HTML')|lower }}" data-organization="{{ pkg.organization.title }}"
	> <i class="fa fa-download"></i></i> {{ _('Download') }} </a>

{% else %}
	<a href="{{ resource_url }}" class="btn btn-primary"{% if is_web_format %} target="_blank"{% endif %}
	   data-format="{{ (res.format or 'HTML')|lower }}" data-organization="{{ pkg.organization.title }}"
	> <i class="fa fa-download"></i>{{ _('Download') }} </a>
{% endif %}
</div>
{% endblock %}
</li>
