{% set current_url = h.full_current_url() %}
<section class="module module-narrow social">
<h2 class="module-heading"><i class="fa fa-share"></i>{{ _('Share on Social Sites') }}</h2>
  <ul class="nav nav-simple">
    <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
  </ul>
</section>
