{% extends "organization/edit_base.html" %}

{% block subtitle %}{{ _('Edit datasets') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="row">
    <h1 class="hide-heading">{{ _('Edit datasets') }}</h1>
    <div class="col-md-9 col-lg-12">
      {% block search_form %}
        {% set sorting = [
            (_('Name Ascending'), 'title_string asc'),
            (_('Name Descending'), 'title_string desc'),
            (_('Last Modified'), 'data_modified desc') ]
          %}
          {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=c.q, count=c.page.item_count, sorting=sorting, sorting_selected=c.sort_by_selected, no_title=true, search_class=' ' %}
          
        {% endblock %}

      {% block form %}
        {% if c.page.item_count %}
          <form method="POST" data-module="basic-form">
            <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
              <col width="8">
              <col width="120">
              <thead>
                <tr>
                  <th></th>
                  <th class="table-actions">
                    <div class="btn-group">
                      <button name="bulk_action.public" value="public" class="btn btn-default" type="submit">
                        <i class="fa fa-eye"></i>
                        {{ _('Make public') }}
                      </button>
                      <button name="bulk_action.private" value="private" class="btn btn-default" type="submit">
                        <i class="fa fa-eye-slash"></i>
                        {{ _('Make private') }}
                      </button>
                    </div>
                    <div class="btn-group">
                      <button name="bulk_action.delete" value="delete" class="btn btn-danger" type="submit">
                        <i class="fa fa-times"></i>
                        {{ _('Delete') }}
                      </button>
                      
                    </div>
                    {# REMOVES CALL TO {'snippets/add_dataset.html', group=c.group_dict.id } #}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for package in packages %}
                  {% set title = package.title or package.name %}
                  {% set notes = h.markdown_extract(package.notes, extract_length=180) %}
                  <tr>
                    <td>
                      <input type="checkbox" name="dataset_{{ package.id }}">
                    </td>
                    <td class="context">
                      <a href="{% url_for controller='dataset', action='edit', id=package.name %}" class="edit pull-right">
                        {{ _('Edit') }}
                      </a>
                      <h3 class="dataset-heading">
                        {% set link_truncate = title | truncate(80) %}
                        {{ h.link_to(link_truncate, h.url_for(controller='dataset', action='read', id=package.name)) }}
                        {% if package.get('state', '').startswith('draft') %}
                          <span class="label label-info">{{ _('Draft') }}</span>
                        {% elif package.get('state', '').startswith('deleted') %}
                          <span class="label label-danger">{{ _('Deleted') }}</span>
                        {% endif %}
                        {% if package.private %}
                          <span class="label label-danger">{{ _('Private') }}</span>
                        {% endif %}
                      </h3>
                      {% if notes %}
                        <p>{{ notes|urlize }}</p>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        {% else %}
          <p class="empty">{{ _('This organization has no datasets associated to it') }}</p>
        {% endif %}
      {% endblock %}
    </div>
  </div>
  {{ c.page.pager() }}
{% endblock %}
