{% ckan_extends %}
{% block breadcrumb_content %}
<li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% block breadcrumb_content_inner %}
<li>{% link_for organization.display_name|truncate(35), controller='organization', action='read', id=organization.name %}</li>
<li class="active">{% link_for _('Admin'), controller='organization', action='edit', id=organization.name %}</li>
{% endblock %}
{% endblock %}

{% block content_action %}
{% if organization and h.check_access('organization_update', {'id': organization.id}) %}
{% link_for _('View Organization'), controller='organization', action='read', id=organization.name, class_='btn', icon='eye-open' %}
{% endif %}
{% endblock %}
{% block content_primary_nav %}
  {{ super() }}
  {% set url = h.url_for('harvest_org_list', id=c.group_dict.name) %}
  <li class="{{ 'active' if c.action == 'source_list' }}">
  	<a href="{{ url }}">
  		<i class="icon-refresh"></i>
  		{{ _('Harvest Sources') }}
  	</a>
  </li>
{% endblock %}
