{% ckan_extends %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are organizations?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Users can view datasets by the federal agency, state, city or county that publishes them, referred to as "organizations" in the Data.gov catalog. You can search for organizations in the search bar on the right.</p>
        <p>To view all the datasets for a particular organization, click on the image of the organization.</p>
        <p>Data.gov harvests metadata from organizations on a regular basis, so the list of datasets from a particular organization is updated continuously.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
