<footer class="usa-footer site-footer" role="contentinfo">
    <div class="footer-section-bottom bg-base-lighter">
        <div class="grid-container">
            <div class="grid-row padding-3">
                <div class="tablet:grid-col">
                    <div class="logo-links">
                        <a class="footer-logo media_link" href="https://cloud.gov">
                            <img class="width-30 height-auto"
                                src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.png"
                                alt="Agency logo" />
                        </a>
                    </div>
                </div>
                <div class="tablet:grid-col"></div>
                <div class="tablet:grid-col">
                    <ul class="add-list-reset">
                        <li><a href="/about/">About</a></li>
                        <li><a href="/open-gov/">Open Government</a></li>
                    </ul>
                </div>
                <div class="tablet:grid-col">
                    <ul class="add-list-reset">
                        <li><a href="https://twitter.com/usdatagov">Twitter</a></li>
                        <li><a href="https://github.com/GSA/data.gov">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
