{% block header %}
<section class="usa-banner" aria-label="Official government website">
    <div class="usa-accordion">
        <header class="usa-banner__header container">
            <div class="usa-banner__inner">
                <div class="grid-col-auto">
                    <img class="usa-banner__header-flag" src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/us_flag_small.png" alt="U.S. flag" />
                </div>
                <div class="grid-col-fill tablet:grid-col-auto">
                    <p class="usa-banner__header-text">
                        An official website of the United States government
                    </p>
                    <p class="usa-banner__header-action" aria-hidden="true">
                        Here’s how you know
                    </p>
                </div>
                <button type="button" class="usa-accordion__button usa-banner__button" aria-expanded="false"
                    aria-controls="gov-banner-default-default">
                    <span class="usa-banner__button-text">Here’s how you know</span>
                </button>
            </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner-default-default">
            <script>document.getElementById('gov-banner-default-default').setAttribute('hidden', '');</script>
            <div class="grid-row grid-gap-lg">
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img class="usa-banner__icon usa-media-block__img" src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/icon-dot-gov.svg" role="img"
                        alt="" aria-hidden="true" />
                    <div class="usa-media-block__body">
                        <p>
                            <strong>Official websites use .gov</strong><br />A
                            <strong>.gov</strong> website belongs to an official government
                            organization in the United States.
                        </p>
                    </div>
                </div>
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img class="usa-banner__icon usa-media-block__img" src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/icon-https.svg" role="img"
                        alt="" aria-hidden="true" />
                    <div class="usa-media-block__body">
                        <p>
                            <strong>Secure .gov websites use HTTPS</strong><br />A
                            <strong>lock</strong> (
                            <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64"
                                    viewBox="0 0 52 64" class="usa-banner__lock-image" role="img"
                                    aria-labelledby="banner-lock-title-default banner-lock-description-default"
                                    focusable="false">
                                    <title id="banner-lock-title-default">Lock</title>
                                    <desc id="banner-lock-description-default">A locked padlock</desc>
                                    <path fill="#000000" fill-rule="evenodd"
                                        d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z" />
                                </svg> </span>) or <strong>https://</strong> means you’ve safely connected to
                            the .gov website. Share sensitive information only on official,
                            secure websites.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% set menus = h.get_dynamic_menu() %}
<a href="#content" class="hide">{{ _('Skip to content') }}</a>

<header class="navbar navbar-static-top masthead">
    {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}

    <div class="container">
        <div class="searchbox-row skip-navigation">
            <div class="skip-link">
                <a href="#">Jump to Content</a>
            </div>
            <div>
                <form action="/dataset" class="search-form form-inline navbar-right navbar-nav" method="get" role="search">
                    <div class="input-group">
                        <label class="hide" for="search-header">Search for:</label>
                        <input type="search" placeholder="Search Data.Gov" class="search-field form-control" name="q" value="Search Data.Gov" id="search-header" onblur="if(value=='') value = 'Search Data.Gov'" onfocus="if(value=='Search Data.Gov') value = ''">      <span class="input-group-btn">
                            <button class="search-submit btn_new btn-default" type="submit">
                                <i class="fa fa-search"></i>
                                <span class="sr-only">Search</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <hgroup class="top">

            {% block header_account %}
            <div class="account-wrapper">
                {% if c.userobj %}
                <nav class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                    <ul class="unstyled">
                        <li>
                            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                <span class="username">{{ c.userobj.display_name }}</span>

                            </a>
                        </li>
                        {% set new_activities = h.new_activities() %}
                        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                            <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span>{{ new_activities }}</span>
                            </a>
                        </li>
                        {% if c.userobj.sysadmin %}
                        <li>
                            <a href="{{ h.url_for(controller='admin', action='index') }}"
                                title="{{ _('Sysadmin settings') }}">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                {% endif %}
            </div>
            {% endblock %}


        </hgroup>
        <hgroup class="top-nav">
            <div class="logo">
                <a href="http://www.data.gov/" class="root"><span>{{ _('data.gov') }}</span></a>
            </div>

            {% include 'snippets/root_nav.html' %}
            {% block header_site_navigation %}

            {% endblock %}

        </hgroup>
    </div>
    <div class="header_new banner_new page-heading_new">
        <div class="container">
            <div class="page-header_new">
                <div class="main-heading">
                    <h1>
                    {% if menus['topic_header'] %}
                        {% if menus['topic_header']['multi'] %}
                        <span class="category-header {{ menus['topic_header']['class'] }}"><a href="{{ menus['topic_header']['url'][0] }}" class="topic_url"><div><i></i></div><span class="topic_name">{{ menus['topic_header']['name'][0] }}</span></a> &nbsp; &mdash; &nbsp; <a href="{{ menus['topic_header']['url'][1] }}"><span class="topic_name">{{ menus['topic_header']['name'][1] }}</span></a> &nbsp; &mdash; &nbsp; </span>
                        {% else %}
                        <span class="category-header {{ menus['topic_header']['class'] }}"><a href="{{ menus['topic_header']['url'] }}" class="topic_url"><div><i></i></div><span class="topic_name">{{ menus['topic_header']['name'] }}</span></a> &nbsp; &mdash; &nbsp; </span>
                        {% endif %}
                    {% else %}
                        <span class="category-header "><a href="#" class="topic_url"><div><i></i></div><span class="topic_name"></span></a></span>
                    {% endif %}
                        Data Catalog
                    </h1>
                </div>

                <div class="toolbar">
                        {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="home"><a href="{{ h.url(controller='dataset', action='search') }}"><i class="fa fa-home"></i><span> {{ _('Home') }}</span></a></li>
                            <li class="active">{{ h.nav_link(_('Datasets'), controller='dataset', action='search', highlight_actions = 'new index') }}</li>
                        </ol>
                        {% endblock %}
                    <div class="add_action">
                        <a href="{{ h.url_for('organization.index') }}" class="btn btn_new">{{ _('Organizations') }}</a>
                        <a href="https://www.data.gov/catalog-help/" class="btn btn-primary question"><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    {% if menus['submenus'] %}
<div class="sub-nav banner-nav">
    <div class="container">
        <nav role="navigation" class="topic-subnav">
            <ul class="nav navbar-nav" id="menu-community">
                {% for submenu in menus['submenus'] if not submenu['parent_id'] %}
                    {% if submenu['has_children'] %}
                        {% set parent_id = submenu['id'] %}
            <li><a href="{{ submenu['link'] }}" class="dropdown-toggle{% if submenu['name']=='Data' %} active{% endif %}" data-toggle="dropdown">{{ submenu['name'] }}<b class="caret"></b></a>
                <ul class="dropdown-menu topics{% if menus['topic_header'] %} {{ menus['topic_header']['class'] }} {% endif %}">
                        {% for sub_submenu in menus['submenus'] if sub_submenu['parent_id'] == parent_id %}
                    <li><a href="{{ sub_submenu['link'] }}">{{ sub_submenu['name'] }}</a></li>
                        {% endfor %}
                </ul>
            </li>
                    {% elif not submenu['parent_id'] %}
                        {% if submenu['name'] == 'Data' %}
            <li><a href="{{ submenu['link'] }}" class="active">{{ submenu['name'] }}</a></li>
                        {% else %}
            <li><a href="{{ submenu['link'] }}">{{ submenu['name'] }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
    {% endif %}
{% endblock %}
